node_modules
.env
.DS_Store

# Hardhat files (legacy)
/cache
/artifacts
/ignition/deployments/
/typechain
/typechain-types
/coverage
/coverage.json
ignition/deployments/chain-31337

# Foundry files
out/
cache_forge/
broadcast/
lib/
exports/
